:root {
  --main-red: #bc0735;
  --sub-red: #8b0c2c;
  --black: #171717;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--black);
  color: #fff;
}

* {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
