.main {
  margin: 0 10%;
  margin-bottom: 100px;
}

.hero {
  display: grid;
  justify-content: center;

  margin: 0 15%;
  margin-top: 100px;
  text-align: center;
}

.hero h1 {
  font-size: 55px;
  font-weight: 700;
  margin-top: 0;
}

.hero p {
  font-size: 27px;
  font-weight: 300;
}

.features {
  margin: 0 5%;
  margin-top: 100px;
  text-align: center;
}

.features h2 {
  margin-top: 0px;
  font-size: 40px;
}

.features p {
  font-size: 18px;
  font-weight: 300;
  margin: 0 20%;
  margin-bottom: 0px;
}

.featuresWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

.featureWrap {
  background: #000;
  padding: 30px;
  border-radius: 10px;
}

.featureWrap h3 {
  font-size: 20px;
}

.featureWrap p {
  font-weight: 300;
  font-size: 16px;
}

.ending {
  margin-top: 100px;
  text-align: center;
}

.ending h2 {
  font-size: 40px;
  margin-top: 0;
}

.ending p {
  font-weight: 300;
  margin: 0 30%;
  margin-bottom: 50px;
}

.footer {
  background: #000;
  text-align: center;
  padding: 18px;
}

.footer a {
  text-decoration: underline;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 899px) {
  .main {
    margin-bottom: 50px;
  }

  .hero h1 {
    font-size: 35px;
    margin: 0 10px;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 18px;
    margin: 0 10px;
    margin-bottom: 15px;
  }

  .hero {
    margin: 0;
    margin-top: 50px;
  }

  .featuresWrap {
    grid-template-columns: 1fr;
  }

  .features {
    margin: 0;
    margin-top: 50px;
  }

  .features h2,
  .ending h2 {
    font-size: 30px;
    margin: 0 15px;
    margin-bottom: 10px;
  }

  .features p,
  .ending p {
    font-size: 16px;
    margin: 0 15px;
  }

  .featuresWrap {
    margin: 0 15px;
    margin-top: 25px;
    gap: 15px;
  }

  .ending {
    margin-top: 50px;
  }

  .ending p {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 0;
    margin-bottom: 25px;
  }

  .featuresWrap {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 30px;
    margin: 0 10px;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 18px;
    margin: 0 10px;
    margin-bottom: 15px;
  }

  .hero {
    margin: 0;
    margin-top: 25px;
  }

  .features {
    margin: 0;
    margin-top: 25px;
  }

  .features h2,
  .ending h2 {
    font-size: 30px;
    margin: 0 15px;
    margin-bottom: 10px;
  }

  .features p,
  .ending p {
    font-size: 16px;
    margin: 0 15px;
  }

  .featuresWrap {
    margin: 0 15px;
    margin-top: 25px;
    gap: 15px;
  }

  .ending {
    margin-top: 25px;
  }

  .ending p {
    margin-bottom: 30px;
  }
}
